body {
    margin: 0;
    background: #111;
  }
  
  #game {
    width: 600px;
    height: 400px;
    margin: 50px auto;
    position: relative;
    background: #222;
    border: 2px solid #fff;
    overflow: hidden;
  }
  
  #player {
    width: 40px;
    height: 20px;
    background: lime;
    position: absolute;
    bottom: 10px;
    left: 280px;
  }
  
  .bullet {
    width: 5px;
    height: 10px;
    background: red;
    position: absolute;
  }
  
  #enemy {
    width: 40px;
    height: 20px;
    background: cyan;
    position: absolute;
    top: 20px;
    left: 280px;
  }
  